/* page-not-found.component.css */

.not-found-container {
    text-align: center;
    margin: 50px;
  }
  
  h1 {
    font-size: 3em;
    color: #ff6347; /* Tomato color */
  }
  
  p {
    font-size: 1.2em;
    color: #777;
  }
  